* { margin:0; padding: 0; 
	font-family: 'helvetica neue', sans-serif; 
	line-height: 1em;  
	color: #444;
}

body {
  width: 100%;
}

input {
	font-size: 16px;
	margin-top: .75em;
}

input[type=text] {
  padding: 8px 14px 8px 14px;
	width: 244px;
}

h2 { 
  font-weight: 500; 
  margin-bottom: .5em;
}

footer { margin-top: 1em; }

quiet { font-size: .75em; color: #777;}

#message {
  font-size: 223px;
	color: #000;
}

#message_show {
  display: none;
}

.center {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#output {
  display: none;
  height: 262px;
  width: 320px;
  //border-top: 1px solid #000;
  //border-bottom: 1px solid #000;
  margin-top: 96px;
  overflow: hidden;
}

#interface { 
  width: 272px;
  margin: 24px;
  margin-top: 24px;
}

#colors {
  list-style: none;
  position: relative;
  margin-left: -4px;
}

#color_toggle {
  float: left;
}

#colors li {
  float: left;
  margin-left: 4px;
}

#colors a {
  text-decoration: none;
  padding: 5px 14px 5px 14px;
  border: 2px solid #fff;
}

#colors a.selected {
  border: 2px solid #444;
}

#green {background-color: #0f0;}
#orange {background-color: #f63;}
#red {background-color: #f00;}
#blue {background-color: #36f;}
